:root {
  --color-heading: dodgerblue;
  --color-sub-heading: #222;
  --color-body: #333;
  --color-section-border: rgb(22, 111, 201);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-body);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1rem;
  line-height: 2;
  margin: 3.6rem auto;
  width: 90%;
  /* max-width: 90%; */
}

/* Typography */
html {
  font-size: 62.5%;
}

h1,
h2 {
  color: var(--color-heading);
  text-transform: uppercase;
}

h1 {
  /* font-size: 3.157rem; */
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

h2 {
  /* font-size: 2.369rem; */
  font-size: 1.7rem;
  /* font-size: 1.4rem; */
  margin-bottom: 0.5rem;
}

h3 {
  color: var(--color-sub-heading);
  /* font-size: 1.777rem; */
  font-size: 1.333rem;
  line-height: 1.5;
}

p {
  color: var(--color-body);
  /* font-size: 1rem; */
}

hr {
  border: 1px solid var(--color-section-border);
}

section {
  padding: 0 1rem 1.2rem;
}

ul {
  padding: 0 22px;
}

ul li {
  margin-bottom: 10px;
}

.personal-details h1,
p {
  margin: 0;
}

.summary h2 {
  /* font-size: 1.6rem; */
  margin-bottom: -0.2rem;
}

.summary p {
  text-align: justify;
}

.skills ul {
  display: grid;
  column-gap: 20px;
  font-size: 1rem;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 60% 40%; */
  grid-template-rows: repeat(6, 25px);
  line-height: 1.5;
  margin-bottom: 0;
  /* padding: 0 10px; */
  row-gap: 14px;
}

.skills ul li {
  text-align: left;
}

.skills ul li:nth-of-type(1) {
  grid-area: 1/1/2/2;
}

.skills ul li:nth-of-type(2) {
  grid-area: 2/1/3/2;
}

.skills ul li:nth-of-type(3) {
  grid-area: 3/1/4/2;
}

.skills ul li:nth-of-type(4) {
  grid-area: 4/1/5/2;
}

.skills ul li:nth-of-type(5) {
  grid-area: 5/1/6/2;
}

.skills ul li:nth-of-type(6) {
  grid-area: 1/2/2/3;
}

.skills ul li:nth-of-type(7) {
  grid-area: 2/2/4/3;
}

.skills ul li:nth-of-type(8) {
  grid-area: 4/2/5/3;
}

.skills ul li:nth-of-type(9) {
  grid-area: 5/2/6/3;
}

.skills ul li:nth-of-type(10) {
  grid-area: 6/2/7/3;
}

.awards h2,
.education h3 {
  margin-bottom: 0;
}

.awards ul {
  margin-top: 0;
}

.experience ul {
  margin-bottom: 3rem;
}

@media screen and (min-width: 425px) {
  body {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  ul {
    padding: 0 40px;
  }

  .awards h2,
  .education h3,
  .summary h2 {
    margin-bottom: 0.8rem;
  }

  .skills ul {
    font-size: 1.5rem;
  }
}
