:root {
  --color-heading: dodgerblue;
  --color-sub-heading: #222;
  --color-body: #333;
  --color-section-border: rgb(22, 111, 201);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-body);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 5.6rem 5rem;
}

/* Typography */
html {
  font-size: 62.5%;
}

h1,
h2 {
  color: var(--color-heading);
  text-transform: uppercase;
}

h1 {
  font-size: 3.157rem;
  font-weight: 400;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 2.369rem;
}

h3 {
  color: var(--color-sub-heading);
  font-size: 1.777rem;
}

p {
  color: var(--color-body);
  font-size: 1.2rem;
}

hr {
  border: 1px solid var(--color-section-border);
}

section {
  padding: 0 0 2rem 0;
}

.personal-details h1,
p {
  margin-bottom: 0;
}
